<!-- <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="">Home</a>
  <a href="categories">Categories</a>
  <a href="#">Track order</a>
  <a href="contact">About us</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
</div>
-->

<nav class="navbar navbar-expand-lg indigo">
  <div class="navbar-collapse collapse w-100 order-md-0 dual-collapse2" id="navbarText">
    <!-- <ul class="navbar-nav mr-auto"> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">☰
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Categories</a>
          <a class="dropdown-item" href="#">Track order</a>
        </div>
      </li> -->
      <a style="color: black;" class="nav-link" href="#">Home</a>
      <a style="color: black;" class="nav-link" href="customize">Customized Art</a>
      <div class="dropdown">
        <a class="dropbtn">Categories</a>
        <div class="dropdown-content">
        <a href="cat-canvas">Canvas</a>
        <a href="cat-dreamcatcher">Dreamcatcher</a>
        <a href="cat-embroidery">Embroidery</a>
        <a href="cat-zentagle">Zentagle</a>
        </div>
      </div>

      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul> -->
  </div>


    <div class="mx-auto order-1">
      <a class="navbar-brand mx-auto" style="color:black; font-style: italic; font-family: 'Dancing Script',cursive;">Gavanivari Artworks</a>
    </div>


    <div class="navbar-collapse collapse w-100 order-2 dual-collapse2">
    <a style="color: black;" class="nav-link" href="login"><mat-icon>perm_identity</mat-icon></a>
    <span class="navbar-text indigo">
      <a style="color: black;" class="nav-link" href="contact"><mat-icon>phone</mat-icon></a>
    </span>
    <a style="color: black;" class="nav-link" href="cart"><mat-icon>add_shopping_cart</mat-icon></a>
  </div>
</nav>

