
  <!-- Card Narrower -->
<!-- Card deck -->
<div style="padding: 60px 120px 120px 120px;">
    <h1>Best Selling Books</h1>
  <div class="card-deck">
  
    <!-- Card -->
    <div class="card mb-4" style="width: 18rem;">
        <h4 class="card-title">The Hunger Games</h4>
      <!--Card image-->
      <div  class="view overlay">
        <a href="https://openlibrary.org/books/OL27152052M/Hunger_Games_catching_fire">
        <img class="card-img-top" src="http://covers.openlibrary.org/b/id/9279680-L.jpg"
          alt="Card image cap"></a>
          <div class="mask rgba-white-slight"></div>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">The Hunger Games</h4>
        <!--Text-->
        <p class="card-text">Katniss volunteers to replace her sister in a tournament that ends only when one participant remains
           Pitted against contestants who have trained for this all their life, she has little to rely on.
        </p>
        <div fxLayout="row">
      </div>
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <a href="https://openlibrary.org/books/OL25438684M/Divergent">
        <img class="card-img-top" src="http://covers.openlibrary.org/b/id/9810403-L.jpg"
          alt="Card image cap"></a>
          <div class="mask rgba-white-slight"></div>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">Divergent</h4>
        <!--Text-->
        <p class="card-text">Tris, a resident of a futuristic world divided into five factions, elects to join the Dauntless faction. 
          But she actually belongs to another faction, which she must hide, as a major war looms.</p>
  
      </div>
  
    </div>
    <!-- Card -->
  
    <!-- Card -->
    <div class="card mb-4">
  
      <!--Card image-->
      <div class="view overlay">
        <a href="https://openlibrary.org/books/OL39272M/A_walk_to_remember">
        <img class="card-img-top" src="http://covers.openlibrary.org/b/id/229771-L.jpg"
          alt="Card image cap"></a>
          <div class="mask rgba-white-slight"></div>
      </div>
  
      <!--Card content-->
      <div class="card-body">
  
        <!--Title-->
        <h4 class="card-title">A walk to remember</h4>
        <!--Text-->
        <p class="card-text">Landon is assigned community service after getting in trouble. His punishment also involves participating in the spring play,
          during which he falls in love with Jamie, the reverend's daughter.</p>
  
      </div>
  
    </div>
    <!-- Card -->
  
  </div>
  <!-- Card deck -->
  </div>