<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h1>Address Form</h1>
            
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name *" value="" />
            </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address *" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Submit" />
                </div>
        </div>

        <div class="col-md-6 login-form-1">
            <h1>QR code</h1>
            <div class="form-group">
                <img src=""><mat-icon style="color: aliceblue;">compare</mat-icon>
            </div>
        </div>
        </div>
        </div>